    <div class="site-search" id="site-search" aria-label="Search panel">
      <div class="container">
        <div class="site-search__inner">
          <form class="site-search__form" action="/search/" method="get" role="search">
            <label for="site-search-input" class="site-search__label">Search Buckinghamshire Council</label>
            <div class="site-search__wrap">
              <input
                type="text"
                id="site-search-input"
                name="q"
                placeholder="Search for a topic, service or task..."
                autocomplete="off"
                spellcheck="false"
              />
              <button type="submit" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" /></svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
